<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Do It!</title>
</head>
<body>
    <h1>Do it</h1>
    <form action="/orderbyDate" method="GET">
        Order By Date: <input type="submit" name="Submit">
    </form>

    <form action="/orderbyClass" method="GET">
        Order By Class: <input type="submit" name="Submit">
    </form>
    <p>

        <% tasks.forEach(item => { %>
            <span><%= item.dueDate %></span>
            <span><%= item.description %></span>
            <span><strong><%= item.className %></strong></span>
            <form action=<%= "/deleteTask/" + item.subtaskID %> method="POST">
                <input type="submit" name="Submit">
            </form>

            <% item.subTasks.forEach(mItem => { %>
                <li><%= mItem.description %></li>
                <form action=<%= "/deleteSubTask/" + mItem.identifier %> method="POST">
                    <input type="submit" name="Submit">
                </form>
            <% }); %>
                <form action=<%= "/addSubTask/" +  item.subtaskID %> method="POST">
                <!-- <form action="/addSubTask" method="POST"> -->
                    Description: <input type="text" name="description" placeholder="description" required>
                    <input type="submit" name="Submit">
                </form>
            <hr>
        <% }); %>

    </p>
    <form action="/addTask" method="POST">
        Due Date: <input type="date" name="dueDate" placeholder="dueDate" required>
        Description: <input type="text" name="description" placeholder="description" required>
        class: <input type="number" name="classID" required>
        Submit: <input type="submit" name="Submit">
    </form>
</body>
</html>