<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Do It!</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <h1>Do it</h1>
        <form action="/orderbyDate" method="GET">
            Order By: <input type="submit" name="Submit" class="btn btn-primary btn-sm" value="Date">
        </form>

        <form action="/orderbyClass" method="GET">
            Order By: <input type="submit" name="Submit" class="btn btn-primary btn-sm" value="Class">
        </form>
    </nav>
    <div>
        <p>

            <% tasks.forEach(item => { %>
                <form action=<%= "/deleteTask/" + item.subtaskID %> method="POST">
                    <span style="padding-right: 20px;"><%= item.dueDate %></span>
                    <span><strong><%= item.className %></strong></span>
                    <span style="padding-right: 20px;"><%= item.description %></span>
                    <button type="submit" name="Submit" class="btn btn-danger btn-sm" value="Delete"><span class="glyphicon glyphicon-trash"></span></button>
                </form>

                <% item.subTasks.forEach(mItem => { %>
                    <form action=<%= "/deleteSubTask/" + mItem.identifier %> method="POST">
                        <li style="display: inline;"><%= mItem.description %></li>  
                        <button type="submit" name="Submit" class="btn btn-danger btn-sm" value="Delete"><span class="glyphicon glyphicon-trash"></span></button>
                    </form>
                <% }); %>
                    <form action=<%= "/addSubTask/" +  item.subtaskID %> method="POST">
                    <!-- <form action="/addSubTask" method="POST"> -->
                        Description: <input type="text" name="description" placeholder="description" required>
                        <button type="submit" name="Submit" class="btn btn-success btn-sm" value="Add"><span class="glyphicon glyphicon-plus"></span></button>
                    </form>
                <hr>
            <% }); %>

        </p>
        <form action="/addTask" method="POST">
            Due Date: <input type="date" name="dueDate" placeholder="dueDate" required>
            Description: <input type="text" name="description" placeholder="description" required>
            class: <input type="number" name="classID" required>
            <button type="submit" name="Submit" class="btn btn-success" value="Add"><span class="glyphicon glyphicon-plus"></span></button>
        </form>
    </div>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>